@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 15px var rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  object-fit: contain;
}

.advantage-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 90px;
}

.advantage-title {
  text-transform: uppercase;
  margin: 0 0 29px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 29px;
}

.advantage-description {
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantage-card > .advantage-description:last-child {
  margin: 0;
}

.advantage-additions-title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-additions-title::before {
  position: absolute;
  content: "";
}

.advantage-additions-title-home::before {
  background-image: url("../images/svg/icon-home.svg");
  background-size: 74px 72px;
  width: 74px;
  height: 72px;
  top: 81px;
  right: 163px;
}

.advantage-additions-title-food::before {
  background-image: url("../images/svg/icon-burger.svg");
  background-size: 74px 70px;
  width: 74px;
  height: 70px;
  top: 82px;
  right: 163px;
}

.advantage-additions-title-souvenirs::before {
  background-image: url("../images/svg/icon-gift.svg");
  background-size: 64px 76px;
  width: 64px;
  height: 76px;
  top: 79px;
  right: 168px;
}

.advantage-card > .advantage-description {
  color: inherit;
}

.advantage-card {
  box-sizing: border-box;
  background-color: #83b3d3;
  color: #ffffff;
  width: 33.333333%;
  text-align: center;
  padding: 93px 80px 86px;
}

.advantage-additions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantage-additions-item {
  position: relative;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  width: 33.333333%;
  padding: 184px 75px 52px;
  text-align: center;
}

.advantage-additions-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantage-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantage-list-item {
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  width: 33.333333%;
  padding: 103px 75px 74px;
}

.advantage-list-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-list-group {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs {
  display: flex;
  width: 50%;
  padding: 0;
  margin: -5px 0 0 -2px;
  list-style-type: none;
  position: relative;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 20px;
}

.breadcrumbs-link {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  height: 20px;
  color: #ffffff;
  outline-offset: 1px;
  text-decoration: none;
}

.breadcrumbs-link-icon {
  width: 20px;
}

.breadcrumbs-link-icon::before {
  content: "";
  height: 12px;
  width: 12px;
  -webkit-mask-image: url("../images/svg/icon-home-page.svg");
          mask-image: url("../images/svg/icon-home-page.svg");
  background-color: currentColor;
  margin: auto;
}

.breadcrumbs-item:not(:last-child)::after {
  display: block;
  content: "";
  height: 8px;
  width: 5px;
  -webkit-mask-image: url("../images/svg/icon-arrow-right.svg");
          mask-image: url("../images/svg/icon-arrow-right.svg");
  background-color: currentColor;
  position: absolute;
  opacity: 0.3;
  top: 7px;
  right: 9px;
}

.breadcrumbs-link:hover {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 3px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter-button {
  display: block;
  margin-top: 42px;
  margin-bottom: 19px;
  text-transform: uppercase;
  padding: 13px 34px 16px 34px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
}

.catalog-filter-button:hover {
  background-color: #68a2ca;
}

.catalog-filter-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.catalog-filter-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button {
  text-transform: uppercase;
  width: 200px;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  cursor: pointer;
  padding: 10px 14px;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  outline: 3px solid #756257;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  outline-offset: -1px;
}

.button-link-details {
  background-color: #756257;
  width: 83%;
}

.button-link-like {
  background-color: #83b3d3;
  padding: 9px 20px 8px;
}

.button-link-like-choice {
  background-color: #7db54f;
}

.button-wrapper {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
  padding: 0 72px;
}

.button-link-like-choice:hover {
  background: #6c9e42;
}

.button-link-like-choice:focus {
  background: #6c9e42;
  outline: 3px solid #756257;
}

.button-link-like-choice:active {
  background: #6c9e42;
  color: #ffffff;
}

.button-link-details:hover {
  background-color: #615048;
}

.button-link-details:focus {
  outline: 3px solid #83b3d3;
}

.button-link:active {
  color: #ffffff;
}

.button-link-like:hover {
  background-color: #68a2ca;
}

.button-link-like:focus {
  outline: 3px solid #756257;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-input {
  -webkit-appearance: none;
          appearance: none;
}

.control::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control:hover::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus-within::before {
  outline: 3px solid #83b3d3;
}

.control:active::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-span::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 13px;
  height: 10px;
  -webkit-mask-image: url("../images/svg/icon-mark.svg");
          mask-image: url("../images/svg/icon-mark.svg");
  background-color: #3f5e72;
}

.control-input[type="radio"]:checked + .control-span::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  -webkit-mask-image: url("../images/svg/icon-radio.svg");
          mask-image: url("../images/svg/icon-radio.svg");
  background-color: #3f5e72;
}

.date-form {
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  width: 420px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 17px 3px 13px 19px;
  border: none;
}

.date-form:hover {
  background-color: #e6e6e6;
}

.date-form:focus-within {
  outline: 3px solid #83b3d3;
}

.date-form:active {
  outline: 2px solid #000000;
}

.date-form::placeholder {
  color: #000000;
}

.date-form-button {
  background-color: transparent;
  border: none;
  position: absolute;
}

.date-form-button::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-mask-image: url("../images/svg/icon-calendar.svg");
          mask-image: url("../images/svg/icon-calendar.svg");
}

.date-form-button-in {
  top: 17px;
  right: 13px;
}

.date-form-button-out {
  top: 17px;
  right: 13px;
}

.social-media-list {
  margin-right: 7px;
}

.footer-logo-link {
  display: flex;
  position: relative;
  padding: 19px 22px;
  margin-right: -22px;
}

.footer-logo-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-logo {
  opacity: 0;
}

.footer-logo-link::after {
  margin: auto;
  width: 114px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: "";
  -webkit-mask-image: url("../images/svg/logo-htmlacademy.svg");
          mask-image: url("../images/svg/logo-htmlacademy.svg");
  background-color: #000000;
  pointer-events: none;
}

.footer-logo-link:hover::after {
  background-color: #756257;
}

.footer-logo-link:active::after {
  background-color: rgba(117, 98, 87, 0.3);
}

.header {
  display: flex;
  padding: 0 70px;
  position: relative;
  margin-bottom: -5px;
}

.header-nav {
  display: flex;
  width: 50%;
  padding: 20px 19px;
  margin-right: 12px;
}

.header-logo-link {
  margin-right: 32px;
}

.header-logo {
  display: block;
  max-width: 100%;
}

.main-container {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  margin: 0;
  padding: 0 0 6px;
}

.header-list-icon {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.nav-link {
  padding: 18px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  margin-right: 34px;
}

.nav-link:hover {
  color: #756257;
}

.nav-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.list-link-search {
  display: block;
  position: relative;
  min-height: 18px;
  min-width: 18px;
  margin-right: 24px;
}

.list-link-like {
  display: block;
  position: relative;
  min-height: 18px;
  min-width: 18px;
  margin-right: 33px;
  color: #ffffff;
}

.list-link-like:active {
  color: rgba(255, 255, 255, 0.3);
}

.list-link-yes {
  text-transform: uppercase;
  min-width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 8px;
  display: block;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
}

.list-link-yes:hover {
  background-color: #615048;
}

.list-link-yes:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.list-link-yes:active {
  color: rgba(255, 255, 255, 0.3);
}

.like-number {
  position: absolute;
  top: -9px;
  right: -15px;
  text-decoration: none;
  font-size: 10px;
  background-color: #7db550;
  padding: 0 4px;
  border-radius: 15px;
}

.link-current {
  border-bottom: 2px solid #756257;
}

.icon-header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.icon-header:hover {
  fill: #756257;
}

.icon-header:active {
  fill: #756257;
  opacity: 0.3;
}

.hotel-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  grid-column: 1/-1;
}

.hotel-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.grade-hotel {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  margin-top: -1px;
  padding: 10px 14px 9px 14px;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-align: center;
}

.hotel-card {
  padding: 0 73px 62px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-gap: 5px 18px;
  margin-bottom: 23px;
}

.hotel-card-link {
  grid-column: 1/-1;
  text-decoration: none;
  color: inherit;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: 133px 1fr;
  padding: 9px 20px;
  margin: 0 auto;
  grid-gap: 16px 26px;
}

.hotel-image {
  grid-column: 1/-1;
  margin-bottom: 12px;
}

.hotel-image:hover {
  opacity: 0.6;
}

.hotel-image:focus {
  outline: 3px solid #83b3d3;
}

.hotel-image:active {
  opacity: 0.3;
}

.rate-star {
  -webkit-mask-image: url("../images/svg/icon-star.svg");
          mask-image: url("../images/svg/icon-star.svg");
  background-color: #83b3d3;
  -webkit-mask-size: 24px 20px;
          mask-size: 24px 20px;
  -webkit-mask-position: -2px 0;
          mask-position: -2px 0;
  width: 20px;
  height: 20px;
  margin: 8px 0 0;
}

.rate-star-4 {
  width: 94px;
}

.rate-star-3 {
  width: 70px;
}

.rate-star-2 {
  width: 46px;
}

.hotel-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.hotel-selection {
  margin-top: 40px;
}

.hotel-filter {
  display: flex;
}

.hotel-filter-group {
  margin-right: 67px;
  margin-left: 0;
  border: none;
  padding: 0;
}

.hotel-filter-group:nth-child(2) {
  margin-right: 173px;
}

.hotel-filter-title {
  margin-bottom: 31px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.hotel-filter-list {
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-container {
  margin-left: auto;
  padding: 0;
  text-align: center;
}

.reset {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  width: 100px;
}

.reset:hover {
  opacity: 0.6;
}

.reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.inner-container {
  background-color: #83b3d3;
  background-image: url("../images/jpg/bg-catalog.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 72px 53px;
}

.header-inner-title {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.logo-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 30%;
}
/* Для показа модального окна укажите свойство display: flex;
    в селекторе по классу .modal-container */
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  margin: 0 auto;
  background-color: #ffffff;
}

.modal-search {
  width: 715px;
  height: 561px;
  padding: 60px 70px 70px;
  border-radius: 30px;
  box-sizing: border-box;
  position: relative;
}

.modal-form {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  width: 155px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
}

.modal-close-button::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  margin: auto;
  background-color: #000000;
  -webkit-mask-image: url("../images/svg/icon-close.svg");
          mask-image: url("../images/svg/icon-close.svg");
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0 0 61px 0;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
}

.modal-field-form {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form-label {
  align-items: center;
  box-sizing: border-box;
  width: 155px;
  display: grid;
  grid-template-columns: 155px 420px;
}

.field-group-bottom {
  display: grid;
  grid-template-columns: 155px 133px;
}

.modal-field-form-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-form-button {
  background-color: #83b3d3;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 10px;
  width: 100%;
  padding: 9px 0 15px 0;
  margin-top: 39px;
}

.modal-form-button:hover {
  background-color: #68a2ca;
}

.modal-form-button:focus {
  outline: 3px solid #756257;
  background-color: #68a2ca;
}

.modal-form-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.field-group-bottom:last-child > .search-form-label-bottom {
  text-align: center;
}

.field-group {
  align-items: center;
  margin: 0 0 1px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  position: relative;
}

.modal-input-bottom {
  text-align: center;
  -webkit-appearance: textfield;
          appearance: textfield;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  font-family: inherit;
  width: 133px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 3px 20px 7px;
  border: none;
}
/*
.modal-input-bottom::placeholder {
  color: #000000;
} */
.modal-input-bottom:hover {
  background-color: #e6e6e6;
}

.modal-input-bottom::-webkit-outer-spin-button,
.modal-input-bottom::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.button-modal-field {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  position: absolute;
  background-color: transparent;
  border: none;
}

.button-modal-field-plus {
  top: 15px;
  right: 15px;
}

.button-modal-field-minus {
  top: 15px;
  right: 98px;
}

.button-modal-field:hover::after {
  background-color: #000000;
}

.button-modal-field:focus {
  outline: 3px solid #83b3d3;
}

.button-modal-field:active::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-modal-field-plus::after {
  position: absolute;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  -webkit-mask-image: url("../images/svg/icon-plus.svg");
          mask-image: url("../images/svg/icon-plus.svg");
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.button-modal-field-minus::after {
  position: absolute;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  -webkit-mask-image: url("../images/svg/icon-minus.svg");
          mask-image: url("../images/svg/icon-minus.svg");
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-info {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  grid-column: 2/-1;
  display: block;
  margin-top: -1px;
  color: #333333;
}

.modal-info-error {
  color: #ff5757;
}

.number-span {
  margin-left: auto;
  opacity: 0.6;
}

.offer {
  padding: 93px 240px;
  text-align: center;
}

.offer-title {
  text-transform: uppercase;
  margin: 0 0 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.offer-subtitle {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.offer-link {
  display: block;
  max-width: 535px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 14px 20px 10px;
}

.offer-link:hover {
  background-color: #615048;
}

.offer-link:focus {
  outline: 3px solid #83b3d3;
}

.offer-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.order-card {
  display: flex;
  width: 48px;
  height: 48px;
  outline-offset: -2px;
  outline: 2px solid #e6e6e6;
  border-radius: 4px;
}

.order-card-item:not(:last-child) {
  margin-right: 8px;
}

.order-card-list {
  outline: 2px solid #000000;
}

.order-card::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #000000;
  margin: auto;
}

.order-card-list::after {
  -webkit-mask-image: url("../images/svg/icon-title.svg");
          mask-image: url("../images/svg/icon-title.svg");
}

.order-card-slide::after {
  -webkit-mask-image: url("../images/svg/icon-slide-show.svg");
          mask-image: url("../images/svg/icon-slide-show.svg");
}

.order-card-tile::after {
  -webkit-mask-image: url("../images/svg/icon-list.svg");
          mask-image: url("../images/svg/icon-list.svg");
}

.order-card:hover {
  outline: 2px solid #83b3d3;
  border-radius: 4px;
}

.order-card:focus {
  outline: 2px solid #83b3d3;
  border-radius: 4px;
}

.order-card-list-wrapper {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: auto;
}

.page-footer {
  display: flex;
  padding: 18px 72px 9px;
}

.pagination-title {
  position: relative;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.pagination-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  right: 21px;
  width: 12px;
  height: 7px;
  -webkit-mask-image: url("../images/svg/icon-arrow-down.svg");
          mask-image: url("../images/svg/icon-arrow-down.svg");
  background-color: #000000;
}

.pagination-container {
  position: relative;
  display: flex;
  padding: 5px 72px;
  margin-bottom: 73px;
  justify-content: space-between;
  align-items: center;
}

.pagination-container::after {
  position: absolute;
  top: -25px;
  left: 73px;
  content: "";
  height: 1px;
  width: 1055px;
  background-color: #e6e6e6;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  min-width: 60px;
  border-radius: 4px;
  background-color: #83b3d3;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
  padding: 9px 16px 15px;
  margin-right: 8px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  box-sizing: border-box;
  outline-offset: -3px;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  display: block;
  min-width: 60px;
  border-radius: 4px;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
  padding: 9px 16px 15px;
  margin-right: 9px;
  font-weight: 700;
  font-size: 20px;
  box-sizing: border-box;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68a2ca;
  color: #ffffff;
}

.range-price {
  display: flex;
  margin-top: 4px;
}

.range-label {
  box-sizing: border-box;
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 4px;
  padding: 14px 14px 9px;
}

.range-level {
  -webkit-appearance: textfield;
          appearance: textfield;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 95px;
  font: inherit;
  color: inherit;
  outline: none;
  line-height: 21px;
}

.range-level-left {
  margin-left: -1px;
  padding-left: 3px;
}

.range-level-right {
  margin: 0 -2px 0 0;
  padding: 0;
}

.range-level::-webkit-outer-spin-button,
.range-level::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.range-label:first-child {
  border-right: solid 1px #ffffff;
  border-radius: 4px 0 0 4px;
}

.range-label:last-child {
  border-left: solid 1px #ffffff;
  border-radius: 0 4px 4px 0;
}

.range-label:first-child:focus-within {
  outline: solid 2px #81b3d2;
  border-radius: 4px 0 0 4px;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.range-label:last-child:focus-within {
  outline: solid 2px #81b3d2;
  border-radius: 0 4px 4px 0;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.range-label:first-child:hover {
  outline-offset: -2px;
  outline: solid 2px #e6e6e6;
  border-radius: 4px 0 0 4px;
  border-color: transparent;
}

.range-label:last-child:hover {
  outline-offset: -2px;
  outline: solid 2px #e6e6e6;
  border-radius: 0 4px 4px 0;
  border-color: transparent;
}

.range-label:first-child:active {
  background-color: #756257;
}

.range-label:last-child:active {
  background-color: #756257;
}

.range-target {
  width: 93%;
  margin-top: 20px;
  padding-right: 20px;
}

.range-base {
  position: relative;
  height: 20px;
}

.range-base::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  bottom: 8px;
  left: 0;
  background-color: currentColor;
  opacity: 0.3;
}

.range-connect,
.range-origin {
  position: absolute;
  width: 100%;
  transform-origin: 0 0;
  transform-style: flat;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

.range-connect {
  top: 8px;
  right: 0;
  height: 4px;
  background-color: currentColor;
}

.range-origin {
  top: 0;
  left: 100%;
}

.range-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-handle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.section-filter {
  display: flex;
  padding: 58px 72px;
  margin-bottom: 7px;
}

.search-result {
  text-transform: uppercase;
  box-sizing: border-box;
  width: 50%;
  margin: 4px 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding-right: 40px;
}

.select-wrapper {
  width: 27%;
  margin-right: 20px;
  position: relative;
}

.select-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  right: 14px;
  width: 12px;
  height: 7px;
  -webkit-mask-image: url("../images/svg/icon-arrow-down.svg");
          mask-image: url("../images/svg/icon-arrow-down.svg");
  background-color: #000000;
}

.select-wrapper:active::after {
  background-color: #e6e6e6;
}

.select-number-page {
  margin-left: 51px;
  padding: 14px 19px 10px;
  width: 158px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  -webkit-appearance: none;
          appearance: none;
  outline: 2px solid #e6e6e6;
  border-radius: 4px;
  border: none;
  margin-top: -2px;
  color: #333333;
  background-color: #ffffff;
}

.select-number-page:focus {
  outline: 2px solid #83b3d3;
}

.select-control {
  font-family: inherit;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  padding: 8px 22px 13px 18px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  box-sizing: border-box;
  width: 102%;
  -webkit-appearance: none;
          appearance: none;
  background-color: #ffffff;
}

.select-control:hover {
  outline-offset: -2px;
  outline: 2px solid #83b3d3;
}

.select-control:focus {
  outline-offset: -2px;
  outline: 2px solid #83b3d3;
}

.select-control:active {
  background-color: #e6e6e6;
}

.social-media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 32.5%;
  padding: 0;
  list-style-type: none;
  margin-left: 2px;
}

.social-media-link {
  position: relative;
  box-sizing: border-box;
  padding: 12px 10px;
  display: block;
  height: 40px;
  width: 40px;
}

.social-media-link::before {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.social-media-link:hover::before {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #68a2ca;
}

.social-media-link:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.social-media-link:active::before {
  background-color: rgba(117, 98, 87, 0.3);
}

.social-media-link-vk::before {
  -webkit-mask-image: url("../images/svg/icon-vk.svg");
          mask-image: url("../images/svg/icon-vk.svg");
  -webkit-mask-size: 22px 14px;
          mask-size: 22px 14px;
}

.social-media-link-telegram::before {
  -webkit-mask-image: url("../images/svg/icon-telegram.svg");
          mask-image: url("../images/svg/icon-telegram.svg");
  -webkit-mask-size: 18px 15px;
          mask-size: 18px 15px;
}

.social-media-link-youtube::before {
  -webkit-mask-image: url("../images/svg/icon-youtube.svg");
          mask-image: url("../images/svg/icon-youtube.svg");
  -webkit-mask-size: 22px 23px;
          mask-size: 22px 23px;
}

.subscribe {
  padding: 41px 72px 94px;
  text-align: center;
  margin: 0 auto;
}

.subscribe-title {
  text-transform: uppercase;
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.subscribe-title-alter {
  margin: 0 0 45px;
}

.subscribe-subtitle {
  color: #333333;
  margin: 0 0 45px;
  font-size: 22px;
  line-height: 26px;
}

.email {
  display: flex;
  justify-content: center;
}

.input-email {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 600px;
  padding: 17px 22px 18px;
  border-radius: 10px 0 0 10px;
  border: 2px solid transparent;
}
/* Класс .input-email-invalid будет добавляться с помощью js */
.input-email-invalid,
.input-email:invalid:not(:placeholder-shown) {
  border-color: #ff5757;
}

.input-email:hover {
  background-color: #e6e6e6;
}

.input-email:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.subscribe-alter {
  padding: 79px 72px 94px;
  background-color: #615048;
  background-image: url("../images/jpg/bg-email.jpg");
}

.subscribe-alter .subscribe-title {
  margin: 16px 0 29px;
  color: #ffffff;
}

.subscribe-alter .subscribe-subtitle {
  color: #ffffff;
}

.tel-number {
  padding: 26px 15px;
  text-decoration: none;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  border-radius: 10px;
}

.tel-number:hover {
  color: #756257;
}

.tel-number:focus {
  outline: 3px solid #83b3d3;
}

.tel-number:active {
  color: rgba(117, 98, 87, 0.3);
}

.tooltip {
  position: absolute;
  display: flex;
  margin: auto;
  width: 25px;
  height: 25px;
  top: 14px;
  right: 153px;
  border-radius: 50%;
  background-color: #83b3d3;
}

.tooltip::after {
  display: block;
  margin: auto;
  content: "";
  width: 1px;
  height: 9px;
  -webkit-mask-image: url("../images/svg/icon-info.svg");
          mask-image: url("../images/svg/icon-info.svg");
  background-color: #ffffff;
}

.tooltip-bottom {
  position: absolute;
  padding: 16px 18px 22px 22px;
  top: 54px;
  right: 37px;
  font-weight: 400;
  font-size: 16px;
  color: #f2f2f2;
  line-height: 21px;
  background-color: #333333;
  border-radius: 10px;
  width: 216px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-bottom::after {
  content: "";
  position: absolute;
  top: -9px;
  right: 119px;
  display: block;
  width: 19px;
  height: 9px;
  -webkit-mask-image: url("../images/svg/icon-triangle.svg");
          mask-image: url("../images/svg/icon-triangle.svg");
  background-color: #333333;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.welcome {
  padding-top: 548px;
  background-color: #ffffff;
  background-image: url("../images/jpg/image-main.jpg");
  background-repeat: no-repeat;
  /* background-size: 100%; */
}

.title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 31px;
}
